<!DOCTYPE html>
<html lang="en">
<head>
<% include ./partials/_header.ejs %>
<link rel="stylesheet" href="/static/css/styles.css" type="text/css">
</head>
<body>
  <h1><%= username %></h1>
  <table class = "table">
  <thead>
   <tr>
     <th>Short URL</th>
     <th>Long URL</th>
     <th>Actions</th>
   </tr>
 </thead>
 <tbody>
   <% for ( let shortUrl in urls ) { %>
   <tr>
     <td><%= shortUrl %></td>
     <td><%= urls[shortUrl] %></td>
     <td><form method="POST" action="/urls/<%= shortUrl %>/delete">
        <input type="submit" value="Delete">
     </form>
     <form method="GET" action="/urls/<%= shortUrl %>">
        <input type="submit" value="Update">
     </form>
     </td>
   </tr>
 <% } %>
 </tbody>
</table>
</body>
</html>
</body>
</html>





